/* LoginPage.css */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f7fb;
}

.login-container {
  margin: 30px;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.login-subtitle {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.forgot-password-link {
  color: #007bff;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.btn-login {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0056b3;
}

.remember-me {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
}

.remember-me > * {
    flex-shrink: 0; 
    max-width: max-content;
}